@charset "UTF-8";

/* 공통 */
.section_inner {width: 1200px; margin: 0 auto;}




#wrap {max-width: 1920px; overflow: hidden;}



/* 헤더 */
#header {background: #fff; z-index: 1000;}
#header .section_inner{height: 100px; position: relative;}
/* 로고 */
#header .section_inner .logo {position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 230px;  }
#header .section_inner .logo a {display: block; height: 50px; background: url(../images/logo.png)no-repeat; background-size: cover;}
/* 메뉴 */
#header .gnb {position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
#header .gnb>ul>li {float: left; position: relative;}
#header .gnb>ul>li:not(:first-child) {margin-left: 42px; }
#header .gnb>ul>li>a {display: block; line-height: 100px; font-size: 17px; color: #403f3f; letter-spacing: -0.05em;}
#header .gnb>ul>li>a:hover {color: #30a7ca;}
#header .gnb>ul>li>a:hover + .depth_2 {display: block;}

/* 2중 메뉴 */
#header .gnb ul>li .depth_2 {position: absolute; left: 50%; top: 50%; display: none; margin-top: 20px; transform: translateX(-50%); width: 130px; padding: 10px 0; border: 2px solid #5ebdd8; border-radius: 10px; background: #fff; z-index: 5501;}
#header .gnb ul>li .depth_2:hover {display: block;}
#header .gnb ul>li .depth_2 li {padding: 5px 0;}
#header .gnb ul>li .depth_2 li>a {display: block; font-size: 14px; white-space: nowrap; text-align: center;}
#header .gnb ul>li .depth_2 li>a:hover {color: #30a7ca; text-decoration: underline;}
/* 2중 메뉴 화살표 */
#header .gnb ul>li .depth_2:before {content: ''; position: absolute; left: 50%; bottom: calc(100% + 2px); transform: translateX(-50%); border-bottom: 7px solid #5ebdd8; border-left: 5px solid transparent;border-right: 5px solid transparent;}

/* 컨테이너 */
#container .main_slide_wrap .main_slide {z-index: -5;}
#container .main_slide_wrap .main_slide>div {height: 450px; background: url(../images/vis-bg.jpg)no-repeat; z-index: -5;}


#container .program_bar { height: 195px; background: #f5f5f5; position: relative;}
#container .program_bar .left_program {float: left; width: 210px; height: 195px; background: #30a7ca url(../images/dir-bg.gif)no-repeat 100% 100%; position: relative; color: #fff;}
#container .program_bar .left_program:before {content: ''; position: absolute; right: 100%; top: 0; bottom: 0; width: 100vw; background: #30a7ca;}
#container .program_bar .left_program .sub_txt {display: block; text-align: left; font-size: 15px; opacity: 0.4; margin-top: 30px;}
#container .program_bar .left_program .sec_tit {display: block; text-align: left; margin-top: 0px; font-size: 30px; line-height: 1;}

#container .program_bar .right_program {float: left; width: calc(100% - 210px); position: relative;}
#container .program_bar:before {content: ''; position: absolute; left: 100%; top: 0; bottom: 0; width: 100%; background: #f5f5f5;}
#container .program_bar .right_program>ul:after {content: ''; display: block; clear: both;}
#container .program_bar .right_program>ul>li {float:left; width: 20%; text-align: center; margin-top: 30px;}
#container .program_bar .right_program>ul>li>a {display: block;}
#container .program_bar .right_program>ul>li>a>p {margin-top: 5px; font-size: 15px; color: #777;}

#container .news_wrap { width: 100%; padding: 50px 0 35px;}
#container .news_wrap .section_inner {overflow: hidden;}
#container .news_wrap .left_news {float: left; width: calc(50% - 5px); border: 1px solid #ccc; border-radius: 15px; height: 356px; margin-right: 5px; overflow: hidden;}
#container .news_wrap .left_news .news_tab{overflow: hidden;}
#container .news_wrap .left_news .news_tab ul {width: calc(100% - 60px);}
#container .news_wrap .left_news .news_tab ul li {float: left; width: 50%; text-align: center; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; background: #f3f4f5;}
#container .news_wrap .left_news .news_tab ul li.on {border-bottom: none; background: #fff;}
#container .news_wrap .left_news .news_tab ul li.on a {color: #30a7ca; font-weight: bold;}
#container .news_wrap .left_news .news_tab ul li a {display: block; color: #5a5a5a; font-size: 18px; height: 56px; line-height: 54px; }
#container .news_wrap .left_news .news_tab .more_btn {display: block; width: 60px; height: 57px; border-bottom: 1px solid #ccc; float: right; background: url(../images/more.gif)no-repeat;background-size: cover;}

#container .news_wrap .news_inner {padding: 12px 25px 20px;}
#container .news_wrap .news_inner .top_item {border-bottom: 1px dashed #ccc; padding-bottom: 20px;}
#container .news_wrap .news_inner .top_item .top_img {float: left;}
#container .news_wrap .news_inner .top_item .top_txt {margin-left: 150px;}
#container .news_wrap .news_inner .top_item .top_txt .news_tit {font-size: 18px; color: #545454; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} 
#container .news_wrap .news_inner .top_item .top_txt p {font-size: 15px; margin-top: 10px;}
#container .news_wrap .news_inner .top_item .top_txt .date {font-size: 12px; color: #8d8d8d; font-weight: 300;} 
#container .news_wrap .bottom_item {margin-top: 20px;}
#container .news_wrap .bottom_item li {display: block; padding-left: 10px; position: relative;}
#container .news_wrap .bottom_item li:not(:first-child) {margin-top: 4px;}
#container .news_wrap .bottom_item li .date {float: right; font-size: 13px; color: #999;}
#container .news_wrap .bottom_item .shape_01 {display: block; width: 4px; height: 4px; background: #565656; position: absolute; left: 0px; top: 50%; transform: translateY(-50%); }

#container .news_wrap .right_news {float: left; width: calc(50% - 5px); border: 1px solid #ccc; border-radius: 15px; height: 356px; margin-left: 5px; overflow: hidden;}



#container .news_wrap .right_news .news_slide .slick-prev {position: absolute; left: 15px; top: 50%; transform: translateY(-50%); z-index: 200;border: none; width: 15px; height: 25px; text-indent: -9999px; background: url(../images/big_arrow.png)no-repeat 0% 50%; background-size: 30px 25px;}
#container .news_wrap .right_news .news_slide .slick-next {position: absolute; right: 15px; top: 50%; transform: translateY(-50%); z-index: 200; border: none; width: 15px; height: 25px; text-indent: -9999px; background: url(../images/big_arrow.png)no-repeat 100% 50%; background-size: 30px 25px;}
#container .news_wrap .right_news .news_slide .slick-dots {position: absolute; left: 50%;bottom: 20px; transform: translateX(-50%);}
#container .news_wrap .right_news .news_slide .slick-dots li { display: inline-block; margin: 0 8px;}
#container .news_wrap .right_news .news_slide .slick-dots li button {background: none; border: 2px solid #05a3f5; border-radius: 50%; width: 15px; height: 15px; text-indent: -9999px;}
#container .news_wrap .right_news .news_slide .slick-dots li.slick-active button {background: #05a3f5; }
/* 센터 */
#container .center {background: #f6f8fc; padding: 25px 15px 40px;}
#container .center h2 {font-size: 30px; color: #333; text-align: center;}


.center_slide a {display: block; border: 1px solid #ccc; overflow: hidden; border-radius: 15px;}
.center_slide a .img_box {display: block; overflow: hidden; position: relative; height: 170px;}
.center_slide a span img {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%;}

.center_slide a .txt_box {padding: 20px 25px; overflow: hidden; text-overflow: ellipsis; color: #333; font-size: 16px;}
.center_slide a .txt_box .date {font-size: 14px; color: #999;}

#container .center .center_slide .slick-prev {position: absolute; left: 0%; top: 50%; transform: translate(-50%); z-index: 200; width: 48px; height: 48px; background: url(../images/center-prev.png); border: none; text-indent: -5555px;}
#container .center .center_slide .slick-next {position: absolute; right: -50px; top: 50%; transform: translate(-50%); z-index: 200; width: 48px; height: 48px; background: url(../images/center-next.png); border: none; text-indent: -5555px;}


#container .center .center_slide .slick-list {margin:0 -6px;}

#container .center .center_slide .slick-slide {margin: 0 6px;}


/* faq */
#container .faq {padding: 50px 0 50px;}
#container .faq .section_inner>ul>li {display: inline-block; width:25%; padding: 0 5px; margin: 0 -2px; vertical-align: middle;}
#container .faq .section_inner>ul>li>div {height: 230px; border: 1px solid #cacfd5; border-radius: 15px; padding: 19px 20px; text-align: center;}
#container .faq .section_inner>ul>li>div h3 {font-size: 25px; font-weight: 500; color: #262626; margin-top: 5px;}
#container .faq .section_inner>ul>li>div p {font-size: 14px; color: #9b9b9b;}
#container .faq .section_inner>ul>li>div .info_btn {display: block; width: 136px; height: 36px; line-height: 36px; border-radius: 18px; margin: 20px auto 0; color: #fff; font-size: 16px; background: #05a3f5;}
#container .faq .section_inner>ul>li>div.box_type_2 {padding: 19px 0; background: #f4f3ef;}
#container .faq .section_inner>ul>li>div.box_type_2 span {color: #56838f;}
#container .faq .section_inner>ul>li>div.box_type_2 h3 {border-bottom: 1px solid #ccc; line-height: 1; padding-bottom: 20px; color: #00afa3;}
#container .faq .section_inner>ul>li>div.box_type_2 p {margin-top: 15px; color: #315660;}
#container .faq .section_inner>ul>li>div.box_type_2 a {background: #00afa3; margin-top: 30px;}

#container .faq .section_inner>ul>li>div.bg_ef {background: #eff4f4;}
#container .faq .section_inner>ul>li>div.bg_ef span {color: #56838f;}
#container .faq .section_inner>ul>li>div.bg_ef h3 {color: #27506d;}
#container .faq .section_inner>ul>li>div.bg_ef strong {font-size: 36px; font-weight: bold; color: #315660;}


/* 메인배너 */
.banner_wrap {padding: 0px 0 50px;}
.banner_wrap .layer {border: 1px solid #cecece; height: 66px; border-radius: 10px; overflow: hidden;} 
.banner_slider_wrap {position: relative;}
.banner_slider_wrap .banner-slide {padding-left: 150px;}
.banner_slider_wrap .banner-slide div img {width: 100%;}
.banner_slider_wrap .banner_slide_tool {position: absolute; left: 15px; top: 50%; transform: translateY(-50%); width: 66px;}
.banner_slider_wrap .banner_slide_tool .banner-slick-prev {display: inline-block; width: 15px; height: 15px; border:none;  position: relative; ;background:url(../images/banner_slide_arrow_01.jpg)no-repeat;}
.banner_slider_wrap .banner_slide_tool .banner-slick-prev:after {content: ''; display: block; font-size: 11px; width: 15px; line-height: 15px; height: 15px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.banner_slider_wrap .banner_slide_tool .banner-slick-next {display :inline-block; width: 15px; height: 15px; border: none; position: relative; background:url(../images/banner_slide_arrow_02.jpg)no-repeat;}
.banner_slider_wrap .banner_slide_tool .banner-slick-next:after {content: ''; display: block; font-size: 11px; width: 15px; line-height: 15px; height: 15px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.banner_slider_wrap .banner_slide_tool .slider-start_stop {display: inline-block; width: 15px; height: 15px; z-index: 5500; text-indent: -9999px; border: none; background: url(../images/banner_slide_stop.jpg)no-repeat; background-size: cover;}
.banner_slider_wrap .banner_slide_tool .slider-start_stop.on {background: url(../images/banner_slide_play.jpg)no-repeat;}



/* 푸터 */
#footer {background: #404146; padding: 35px 15px; }
#footer .section_inner {position: relative;}
#footer .foot_logo {position: absolute; left: 0; top: 0;}
#footer .foot_menu {margin-left: 350px;}
#footer .foot_menu ul>li {display: inline-block; margin-right: 20px; margin-bottom: 20px;}
#footer .foot_menu ul>li a {display: block; font-size: 14px; color: #ccc;}
#footer .foot_menu address {display: inline-block; font-size: 13px; color: #999;}
#footer .foot_menu span {display: inline-block; font-size: 13px; color: #999; margin-left: 10px;}
#footer .copyright {font-size: 13px; color: #999; font-weight: 300;}
#footer .family_site_wrap {position: absolute; right: 0; top: 0;}
#footer .family_site_wrap .family_site {display: inline-block; position: relative; vertical-align: middle;}
#footer .family_site_wrap .family_site.active:after {transform: translateY(-50%) rotate(180deg);}
#footer .family_site_wrap .family_site:after {content: ''; position: absolute; right: 13px; top: 50%; transform: translateY(-50%); border-bottom: 5px solid #333; border-left: 5px solid transparent; border-right: 5px solid transparent;}
#footer .family_site_wrap .family_site button {display: block; width: 170px; height: 40px; line-height: 40px; border: none; border-radius: 5px; background: #b7b7b7; padding-left: 13px; text-align: left; font-size: 13px; color: #4d4d4d; cursor: pointer;}
#footer .family_site_wrap .link_btn {display: inline-block; width: 87px; height: 40px; line-height: 40px; color: #fff; text-align: center; background: #292929; font-size: 13px; border-radius: 5px; vertical-align: middle;}
#footer .family_site_wrap .family_site_list {position: absolute; bottom: 100%; left: 0; width: 100%;}
#footer .family_site_wrap .family_site_list>li {border: 1px solid #ccc; background: #fff; border-radius: 5px;}
#footer .family_site_wrap .family_site_list>li a {display: block; height: 40px; padding: 10px 15px; font-size: 13px;}
#footer .family_site_wrap .family_site_list>li a:hover {color: #000;}
#footer .family_site_wrap .link_btn {display: inline-block;}



/* 모바일 */
/* 모바일 헤더 */
#header .mobile_nav {display: none; }
#header .mobile_nav_btn {position: absolute; right: 15px; top: 50%; transform: translateY(-50%); width: 34px; height: 34px;  border: none; background: none; font-size: 17px;}
#header .mobile_nav_btn>span {position: absolute; left: 50%; top: 37%; display: block;transform: translateX(-50%); width: 18px; height: 2px; background: #000;}
#header .mobile_nav_btn>span:nth-child(2) {position: absolute; left: 50%; top: 50%; display: block; width: 18px; height: 2px; background: #000;}
#header .mobile_nav_btn>span:nth-child(3) {position: absolute; left: 50%; top: calc(63% + 1px); display: block; width: 18px; height: 2px; background: #000;}
#header .mobile_nav_btn.on>span {display: block; top: 50%; transform: translate(-50%, -50%) rotate(45deg); }
#header .mobile_nav_btn.on>span:nth-child(2) {display: block; top: 50%; transform: translate(-50%, -50%) rotate(-45deg); }
#header .mobile_nav_btn.on>span:nth-child(3) {display: none;}

#header .mobile_menu_list {display: none; position: fixed; left: 0; right: 0; top: 55px; height: calc(100% - 55px); background: #fff; z-index: 500;}
#header .mobile_menu_list>ul {width: 100%; background: #fff; border-top: 1px solid #ddd;}
#header .mobile_menu_list>ul>li {border-bottom: 1px solid #ddd;}
#header .mobile_menu_list>ul>li>a {font-size: 24px; padding: 15px; display: block; position: relative;}

#header .mobile_menu_list>ul>li>a:before {content: ''; position: absolute; right: 15px; top: 50%; transform: translateY(-50%) rotate(-45deg); width: 12px; height: 2px; background: #ccc;}
#header .mobile_menu_list>ul>li>a:after {content: ''; position: absolute; right: 22px; top: 50%; transform: translateY(-50%) rotate(45deg); width: 12px; height: 2px; background: #ccc;}
#header .mobile_menu_list .depth_2 {display: none; padding: 5px 0;}

#header .mobile_menu_list>ul>li.on>a {background: #f3f3f3; border-bottom: 1px solid #ddd;}
#header .mobile_menu_list>ul>li.on>a:before {content: ''; transform: translateY(-50%) rotate(225deg);}
#header .mobile_menu_list>ul>li.on>a:after {content: ''; transform: translateY(-50%) rotate(-225deg);}

#header .mobile_menu_list>ul>li .depth_2 a {display: block; font-size: 18px; padding: 7px 20px;}







/* 서브페이지 */

.sub_page {padding: 65px 15px 100px;}
.sub_tit {display :block; text-align: center; font-size: 32px; font-weight: 500; color: #222;}

.txt_small {font-size: 14px;}
.txt_24 {font-size: 24px; color: #000; letter-spacing: -0.05em;}

.sub_container .visit {background: url(../images/svis.jpg)no-repeat; background-size: cover; z-index: -2;}
.sub_container .visit .section_inner {height: 156px;}
.sub_container .visit .section_inner .txt_wrap {float: right; margin-top: 43px; color:#e2ded8; z-index: -1;}
.sub_container .visit .section_inner .txt_wrap p {font-size: 26px; font-weight: 300;}
.sub_container .visit .section_inner .txt_wrap p strong {display: block;font-size: 36px; font-weight: 500; line-height: 1; margin-top: -4px;}

.sub_container .sub_lnb {background: #e8e8e8; z-index: 500;}
.sub_container .sub_lnb .section_inner {height: 47px;}
.sub_container .sub_lnb .section_inner .ico_home {display: inline-block; vertical-align: middle; width: 47px; height: 47px; line-height: 47px; text-align: center; background: #f5f5f5 url(../images/ico-home.png) center center no-repeat; }

.sub_container .sub_lnb .section_inner .lnb_list {display: inline-block; vertical-align: middle;/* ; margin-left: -3px; */ }
.sub_container .sub_lnb .section_inner .lnb_list>li {display: inline-block; line-height: 47px; height: 47px; position: relative; margin-left: -3px;}
.sub_container .sub_lnb .section_inner .lnb_list>li:after {content: ''; position: absolute; right: 13px; top: 50%; transform: translateY(-50%); border-bottom: 5px solid #333; border-left: 5px solid transparent; border-right: 5px solid transparent;}
.sub_container .sub_lnb .section_inner .lnb_list>li.active:after {content: ''; transform: translateY(-50%) rotate(180deg);}
.sub_container .sub_lnb .section_inner .lnb_list>li.active {color: #000;background: #f5f5f5;}

.sub_container .sub_lnb .section_inner .lnb_list>li>a {display: block; padding: 0 40px 0 20px; width: 200px;}
.sub_container .sub_lnb .section_inner .lnb_list>li:first-child {border-right: 1px solid #c3c3c3; border-left: 1px solid #c3c3c3;}
.sub_container .sub_lnb .section_inner .lnb_list>li:last-child {border-right: 1px solid #c3c3c3; }

.sub_container .sub_lnb .section_inner .lnb_list>li .lnb_depth_2 {display: none; position: absolute; left: -1px; right: -1px; top: 100%;  border: 1px solid #c3c3c3; border-top: none; background: #f7f7f7; box-sizing: border-box; padding: 15px 0; z-index: 500;}
.sub_container .sub_lnb .section_inner .lnb_list>li .lnb_depth_2 li {padding: 0;}
.sub_container .sub_lnb .section_inner .lnb_list>li .lnb_depth_2 li a {display: block; font-size: 14px; white-space: nowrap; padding: 6px 20px; line-height: 1; color: #555;}

.sub_page .sub_tit {padding-bottom: 45px; border-bottom: 1px solid #eee;}
.sub_page .yellow_box {margin-top: 55px; background: #fcca00; padding: 60px 255px 60px 100px; width: calc(100% - 335px); position: relative;}
.sub_page .yellow_box .right_img {position: absolute; top: -30px; right: -340px;}
.sub_page .contact_number {overflow: hidden; padding-top: 10px;}
.sub_page .contact_number li {float: left; }
.sub_page .contact_number li span {display: inline-block; vertical-align: middle;}
.sub_page .contact_number li p {display: inline-block; vertical-align: middle; margin-left: 10px; margin-right: 20px; color: #fff; font-size: 20px; font-weight: 500;}

.sub_page .notice_mark {display: block; width: 90px; height: 31px; line-height: 31px; text-align: center; color: #fff; background: #30a7ca; font-size: 20px; font-weight: 500;}
.sub_page .introduce {margin-top: 100px; display: table;}
.sub_page .introduce h4 {font-size: 30px; font-weight: 500; color: #30a7ca;}
.sub_page .introduce h4:before {content: ''; display: inline-block; width: 22px; height: 22px; background: url(../images/sub11-4.gif)center center repeat; margin-right: 5px;}

.sub_page .introduce .left_inner {display: table-cell; width: 300px;}
.sub_page .introduce .right_inner {display: table-cell; width: 900px;}
.sub_page .introduce .right_inner .introduce_list {padding-left: 20px;}
.sub_page .introduce .right_inner .introduce_list li {font-size: 18px; font-weight: 300; margin-bottom: 10px; color: #000;}
.sub_page .introduce .right_inner .txt_box {border: 5px solid #f7f3f2; margin: 35px 0 0 20px; padding: 25px; font-size: 16px; color: #000;}

.sub_page .activity .table_wrap {display: table; padding: 50px 0 50px; border-bottom: 1px solid #eee;}
.sub_page .activity .table_wrap .photo_left {display: table-cell; width: 35%; vertical-align: middle;}
.sub_page .activity .table_wrap .photo_left img {display: block; width: 100%; }
.sub_page .activity .table_wrap .txt_right {display: table-cell; width: 65%; padding-left: 50px; vertical-align: middle; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.sub_page .activity .table_wrap .txt_right h4 {display: block; font-size: 24px; font-weight: 500; margin-top: 20px;}
.sub_page .activity .table_wrap .txt_right p {display: block; font-size: 18px; margin-top: 20px;}

.sub_page .activity_list {padding: 50px 0 50px; overflow: hidden; }
.sub_page .activity_list li {float: left; width: 50%; max-height: 190px;}
.sub_page .activity_list li .table_wrap {border-bottom: none; padding: 0px 0 40px;}
.sub_page .activity_list li .table_wrap .notice_mark{width: 60px; height: 25px; line-height: 25px; font-size: 14px;}
.sub_page .activity_list li .table_wrap .txt_right {padding-left: 25px; vertical-align: middle; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.sub_page .activity_list li:not(:first-child) .table_wrap .txt_right {margin-top: 30px;}
.sub_page .activity_list li .table_wrap .txt_right h4 {display: block; font-size: 17px; margin-top: 10px; letter-spacing: -0.05em;} 
.sub_page .activity_list li .table_wrap .txt_right p {display: block; font-size: 15px; margin-top: 10px; letter-spacing: -0.05em;}
.sub_page .activity_list li .table_wrap .txt_right .date {display: block; font-size: 13px; color: #a3a3a3; margin-top: 10px;}

.sub_page .list_paging {text-align: center;}
.sub_page .list_paging .prev_btn {display: inline-block; vertical-align: middle; text-align: center;}
.sub_page .list_paging ul {display: inline-block; vertical-align: middle;}
.sub_page .list_paging ul li a {display: block; width: 34px; height: 34px; text-align: center; line-height: 32px; border: 1px solid #2e5ead; color: #2e5ead; border-radius: 50%; margin: 0 7px; font-size: 17px;}
.sub_page .list_paging .next_btn {display: inline-block; vertical-align: middle; text-align: center;}
.sub_page .list_paging .prev_btn img {display: inline-block; text-align: center; vertical-align: middle;}
.sub_page .list_paging .next_btn img {display: inline-block; text-align: center; vertical-align: middle;}

.sub_page .list_paging a img {display: block;}
.sub_page .search_wrap {margin-top: 60px; border: 1px solid #d0dffd; background: #f6f8fc; padding: 14px; text-align: center;}
.sub_page .search_wrap .search_select {width: 112px; height: 40px; line-height: 38px; display: inline-block; border: 1px solid #000; position: relative; background: #fff; vertical-align: middle;}
.sub_page .search_wrap .search_select>span {margin-left: -60px;}
.sub_page .search_wrap .search_select:hover>ul {display: block;}
.sub_page .search_wrap .search_select:before {content: ''; position: absolute; right: 10px; top: 50%; width: 8px; height: 1px; background: #000; transform: translateY(-50%) rotate(-45deg); }
.sub_page .search_wrap .search_select:after {content: ''; position: absolute; right: 15px; top: 50%; width: 8px; height: 1px; background: #000; transform: translateY(-50%) rotate(45deg); }
.sub_page .search_wrap .search_select ul {display: none; position: absolute; left: -1px; right: -1px; top: 100%; overflow: visible; background: #fff; border: 1px solid #000; border-top: none;}
.sub_page .search_wrap .search_select ul li a {display: block; line-height: 38px; padding: 0 20px 0 15px;}
.sub_page .search_wrap .search_input {width: 400px; height: 40px; line-height: 38px; display: inline-block; vertical-align: middle; border: 1px solid #bfbfbf; }
.sub_page .search_wrap .search_input input[type="text"] {display: block; width: 100%; border: none; background: #fff; line-height: 38px; height: 38px; font-size: 15px; padding-left: 10px;}
.sub_page .search_wrap .search_btn {display: inline-block; vertical-align: middle; width: 112px; height: 40px; line-height: 40px; background: #2859ab; border: none; text-align: center; color: #fff; font-size: 17px; font-weight: 500; margin-left: 20px;}


.col_yellow { color: #df9f04;}
.col_red {color: #d23c6b;}
.col_green {color: #06aea0;}
.col_purple {color: #336bda;;}


.sub_page .program {margin-top: 50px; overflow: hidden;}
.sub_page .program .program_inner { display: flex; justify-content: space-between;}
.sub_page .program .left_program {display: inline-block; vertical-align: top; width: 520px; margin: 0 -1px;}
.sub_page .program .right_program {display: inline-block; vertical-align: top; width: 520px; margin: 0 -1px;}
.sub_page .program .left_program:nth-child(3) {padding-top: 50px;}
.sub_page .program .right_program:nth-child(4) {padding-top: 50px;}
.sub_page .program dl {min-height: 100px; max-height: 170px; white-space: nowrap;}
.sub_page .program dl dt {float: left; text-align: right; font-size: 26px; letter-spacing: -0.075em; margin-left: 30px; }
.sub_page .program dl dd {margin-left: 250px; font-size: 19px; font-weight: thin; color: #000; margin-bottom: 8px;}
.sub_page .program dl dd:before {content: ''; display: inline-block; width: 6px; height: 6px; border-radius: 50%; border: 1px solid #a0a0a0; vertical-align: middle; margin-right: 5px;}
.sub_page .program .img_wrap {margin-top: 30px;}
.sub_page .program .img_wrap img {width: 100%;}



.sub_page .news {margin-top: 50px;}
.sub_page .news .news_list {border-top: 1px solid #3e3e3e; margin-bottom: 50px;} h5 {font-size: 16px; display: block; margin-top: 5px; color: #000;}
.sub_page .news .news_list tr { border-bottom: 1px solid #ddd;}
.sub_page .news .news_list tr td:first-child {padding: 35px 0 35px 50px;}
.sub_page .news .news_list tr td:nth-child(2) {padding: 35px 0 35px; font-size: 17px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #000;}
.sub_page .news .news_list tr td:last-child {width: 10%; padding: 35px 50px 35px 0px; position: relative; text-align: left; font-size: 14px; font-weight: 300; color: #999;}
.sub_page .news .news_list tr td:last-child .write {display: block; text-align: left; margin-left: -12px;}

.sub_page .news .news_list_m {display: none; position: relative; border-top: 1px solid #3e3e3e;}
.sub_page .news .news_list_m li {border-bottom: 1px solid #ddd; padding: 15px; position: relative;}
.sub_page .news .news_list_m li h5 {font-size: 16px; display: block; margin-top: 5px; color: #000;}
.sub_page .news .news_list_m li .date{display: block; font-size: 13px; color: #999; margin-top: 40px;}
.sub_page .news .news_list_m li .write {position: absolute; right: 0; top: 0;}
.sub_page .news .news_list_m li .write img {width: 25px; height: 25px;}

.sub_page .green_box {width: calc(100% - 200px); margin-top: 55px; background: #11c4b7; padding: 70px 100px 70px 200px; position: relative;}
.sub_page .green_box .right_img {position: absolute; top: -60px; right: -170px;}
.sub_page .green_box .sangdam_list {font-size: 18px; color: #fff;}
.sub_page .contact_number {overflow: hidden; padding-top: 10px;}
.sub_page .contact_number li {float: left; }
.sub_page .contact_number li span {display: inline-block; vertical-align: middle;}
.sub_page .contact_number li p {display: inline-block; vertical-align: middle; margin-left: 10px; margin-right: 20px; color: #fff; font-size: 20px; font-weight: 500;}

.sub_page .counseling {margin-top:50px;}
.sub_page .counseling>h3 {text-align: center; font-size: 24px; color: #000;}
.sub_page .counseling>h3 strong { font-size: 28px;}
.sub_page .counseling>h3>span {margin: 0 10px;}


/* 팝업 */
.popup { position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.3); z-index: 10000; display: flex; justify-content: center; align-items: center;}
.popup .popup_inner {width: 500px; border-radius: 10px; overflow: hidden; background: #fff;}
.popup .popup_inner .popup_top {background: #333; padding: 20px; position: relative;}
.popup .popup_inner .popup_bottom {padding: 20px; font-size: 13px;}

.popup .popup_inner .close_btn {position: absolute; display: block; right: 10px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; border: none; background: none;}
.popup .popup_inner .close_btn:before {content: ''; position: absolute; display: block; right: 50%; top: 50%; transform: translate(-50%, -50%) rotate(45deg); width: 14px; height:2px; background: #fff;}
.popup .popup_inner .close_btn:after {content: ''; position: absolute; display: block; right: 50%; top: 50%; transform: translate(-50%, -50%) rotate(-45deg); width: 14px; height:2px; background: #fff;}




/* 미디어쿼리 */
@media screen and (max-width: 1920px) {

    #container .main_slide_wrap {max-width: 1200px; height: 450px; position: relative; z-index: -1; margin: 0 auto;}
    #container .main_slide_wrap .main_slide>div {width: 100%; position: absolute; left: 0%; top: 0; right: 0; background: url(../images/vis-bg.jpg)50% 50% no-repeat; margin: 0 auto; position: relative; z-index: 300; margin: 0 auto;}
    #container .main_slide_wrap:before {content: ''; display: block; width: 1920px; height: 450px; background: #bad8e2; position: absolute; right: 0%; top: 0; bottom: 0; z-index: -555;}
    #container .main_slide_wrap:after {content: ''; display: block; width: 1920px; height: 450px; background: #bad8e2; position: absolute; left: 0%; top: 0; bottom: 0; z-index: -555;}
}
@media screen and (max-width: 1910px) {}


@media screen and (max-width: 1200px) {
    #container .main_slide_wrap {height: 100%;}
    #container .main_slide_wrap:before {display: none;} #container .main_slide_wrap:after {display: none;}
    #container .main_slide_wrap .main_slide>div {height: auto; position: relative;}
    #container .main_slide_wrap .main_slide>div img {width: 100%;}
    .section_inner {width: 100%;}
    .sub_page .activity_list {padding: 25px 0 25px;}
    .sub_page .activity_list li {float: none; display: block; width: 100%; padding-bottom: 0px; overflow: hidden; margin-bottom: 25px;}
    .sub_page .activity_list li .table_wrap .txt_right {vertical-align: top;}
}
@media screen and (max-width: 1124px) {

    
    .contact_number li:last-child {display: block; margin-top: 10px;}
    .sub_page .introduce .left_inner {display: table-row;}
    .sub_page .introduce .right_inner {display: table-row;}
    .sub_page .introduce .right_inner .introduce_list {padding-left: 0;}
    .sub_page .introduce .right_inner .txt_box {margin-left: 0;}
}

@media screen and (max-width: 1024px) {
    /* 공통 */
    .section_inner {width: 100%; padding: 0 15px;}
    
    /* 헤더 */
    #header .section_inner {height: 55px;}
    #header .section_inner .logo {left: 15px; width: 160px;}
    #header .section_inner .logo a {height: 40px; background-size: contain;}
    #header nav {display: none;}
   
    #header .mobile_nav {display: block;}

    .sub_page .yellow_box {padding: 30px 20px;}
    .sub_page .notice_mark {width: 50px; height: 20px; line-height: 20px; font-size: 12px;}
    .sub_page .activity_list li .table_wrap .notice_mark {width: 50px; height: 20px; line-height: 20px; font-size: 12px;}
    .sub_page .activity .table_wrap .txt_right {padding-left: 25px; vertical-align: top;}
}

@media screen and (max-width: 1006px) {
    #container .program_bar {height: auto; padding: 20px 15px;}
    #container .program_bar .left_program {float: none; width: 100%; background: none; height: auto;}
    #container .program_bar .left_program:before {display: none;}
    #container .program_bar .left_program .sub_txt {display: block; text-align: center; font-size: 14px; opacity: 0.4; margin-top: 0px; color: #999;}
    #container .program_bar .left_program .sec_tit {display: block; text-align: center; margin-top: 0px; font-size: 20px; line-height: 1; color: #333;}
    #container .program_bar .right_program {float: none; width: 100%;}
    #container .program_bar .right_program>ul>li { margin-top: 10px; padding: 0 5px;}
    #container .program_bar .right_program>ul>li>a>p {font-size: 12px;}
    #container .program_bar .right_program>ul>li>a img {width: 100%;}

    #container .news_wrap .left_news {float: none; width: 100%;}
    
    #container .news_wrap .right_news {margin-top: 20px; float: none; width: 100%; height: 100%;}
    #container .news_wrap .right_news img {width: 100%;}
    #container .news_wrap .right_news .news_slide .slick-prev {display: none;}
    #container .news_wrap .right_news .news_slide .slick-next {display: none;}


    .center_slide a {border-radius: 5px;}
    .center_slide a .img_box {display: block; overflow: hidden; position: relative; height: auto; padding-bottom: 75%;}
    .center_slide a span img {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); height: 100%;}

    #container .faq .section_inner>ul>li:first-child,#container .faq .section_inner>ul>li:nth-child(2) {width: 50%;}
    #container .faq .section_inner>ul>li:nth-child(3),#container .faq .section_inner>ul>li:nth-child(4) {width: 100%; margin-top: 10px;}

    #container .faq .section_inner>ul>li>div {height: 166px;}
    #container .faq .section_inner>ul>li>div img {width: 40px;}
    #container .faq .section_inner>ul>li>div h3 {font-size: 18px;}
    #container .faq .section_inner>ul>li>div p {font-size: 13px; }
    #container .faq .section_inner>ul>li>div .info_btn {font-size: 14px; width: 80px; height: 32px; line-height: 32px; border-radius: 16px; margin-top: 10px;}
    #container .faq .section_inner>ul>li>div.box_type_2 {padding: 10px 0;}
    #container .faq .section_inner>ul>li>div.box_type_2 span {color: #56838f; font-size: 13px;}
    #container .faq .section_inner>ul>li>div.box_type_2 h3 {font-size: 18px; padding-bottom: 10px; }
    #container .faq .section_inner>ul>li>div.box_type_2 p {margin-top: 10px; font-size: 13px; color: #315660;}
    #container .faq .section_inner>ul>li>div.box_type_2 a {background: #00afa3; margin-top: 10px;}

    #container .faq .section_inner>ul>li>div.bg_ef {background: #eff4f4;}
    #container .faq .section_inner>ul>li>div.bg_ef span {color: #56838f;}
    #container .faq .section_inner>ul>li>div.bg_ef h3 {color: #27506d;}
    #container .faq .section_inner>ul>li>div.bg_ef strong {font-size: 24px; font-weight: bold; color: #315660;}

    #footer {text-align: center; padding: 20px 15px;}
    #footer .foot_logo {position: static; display: block; text-align: center;}
    #footer .foot_menu {margin-left: 0; margin-top: 10px;}
    #footer .foot_menu ul>li {margin: 3px 5px;}
    #footer .foot_menu ul>li a {font-size: 13px;}
    #footer .foot_menu address {display: block; font-size: 12px; color: #999;}
    #footer .foot_menu span {display: block; font-size: 12px; color: #999; margin-left: 0px;}
    #footer .family_site_wrap {position: static; margin-top: 10px;}
    
    #footer .family_site_wrap .family_site {width: calc(100% - 110px); margin-right: 6px; display:inline-block;}
    #footer .family_site_wrap .family_site button {display: block; width: 100%; height: 34px; line-height: 34px; border: none; border-radius: 5px; background: #b7b7b7; padding-left: 8px; text-align: left; font-size: 12px; color: #4d4d4d; cursor: pointer;}
    #footer .family_site_wrap .link_btn {display: inline-block; width: 80px; height: 34px; line-height: 34px; font-size: 12px;}
    #footer .family_site_wrap .family_site_list>li a {display: block; height: 34px; padding: 10px 15px; font-size: 12px; text-align: left;}

    .banner_slider_wrap .banner-slide {padding-left: 0px;}
    .banner_slider_wrap .banner_slide_tool {display: none;}

    .sub_container .visit {background-position: 50% 50%; height: 103px;}
    .sub_container .visit .section_inner .txt_wrap {margin-top: 24px;}
    .sub_container .visit .section_inner .txt_wrap p {font-size: 16px; text-align: right; text-shadow: 0 0 10px #000, 0 0 15px #000;}
    .sub_container .visit .section_inner .txt_wrap p strong {font-size: 20px; margin-top: 5px;}

    .sub_container .sub_lnb {display: none;}

    .sub_page {padding: 30px 15px;}
    .sub_page .sub_tit {padding: 0 0 10px 0; font-size: 24px;}
    .sub_page .yellow_box {width: 100%; margin-top: 20px;}
    .sub_page .yellow_box .right_img {display: none;}

    .sub_page .txt_24 {font-size: 18px;}
    .sub_page .contact_number li {float: none; display: block; }
    .sub_page .contact_number img {width: 25px;}
    .sub_page .contact_number li p {font-size: 14px;}

    .sub_page .introduce h4 {font-size: 18px;}
    .sub_page .introduce h4:before {width: 15px; height: 15px;}
    .sub_page .introduce .right_inner .introduce_list li {padding-left: 0; font-size: 14px; letter-spacing: -0.05em;}

    .sub_page .section_inner {padding: 0 !important;}
    .sub_page .introduce .right_inner .txt_box {padding: 15px; font-size: 13px;}
    .sub_page .introduce .right_inner .txt_box strong {display: block; margin-bottom: 5px;}
    .sub_page .activity .table_wrap .txt_right h4 {font-size: 14px; margin-top: 5px; letter-spacing: -0.05em;} 
    .sub_page .activity .table_wrap .txt_right p {font-size: 13px; margin-top: 5px; letter-spacing: -0.05em;}
    .sub_page .activity .table_wrap .txt_right .date {display: block; font-size: 12px; color: #a3a3a3; margin-top: 5px;}

    .sub_page .activity_list li .table_wrap .txt_right h4 {font-size: 14px; margin-top: 5px; letter-spacing: -0.05em;} 
    .sub_page .activity_list li .table_wrap .txt_right p {font-size: 13px; margin-top: 5px; letter-spacing: -0.05em;}
    .sub_page .activity_list li .table_wrap .txt_right .date {display: block; font-size: 12px; color: #a3a3a3; margin-top: 5px;}

    .sub_page .search_wrap {padding: 10px;}
    .sub_page .search_wrap .search_select {width: 70px; height: 30px; line-height: 28px; font-size: 13px;}
    .sub_page .search_wrap .search_select>span {margin-left: -10px;}
    .sub_page .search_wrap .search_select:hover>ul {display: block;}
    .sub_page .search_wrap .search_select:before {content: ''; position: absolute; right: 10px; top: 50%; width: 6px; height: 1px; background: #000; transform: translateY(-50%) rotate(-45deg); }
    .sub_page .search_wrap .search_select:after {content: ''; position: absolute; right: 14px; top: 50%; width: 6px; height: 1px; background: #000; transform: translateY(-50%) rotate(45deg); }
    .sub_page .search_wrap .search_select ul li a {display: block; line-height: 28px; padding: 0 10px 0 5px;}
    .sub_page .search_wrap .search_input {width: calc(100% - 160px); height: 30px; line-height: 28px; display: inline-block; }
    .sub_page .search_wrap .search_input input[type="text"] {line-height: 28px; height: 28px; font-size: 14px}
    .sub_page .search_wrap .search_btn {width: 50px; height: 30px; line-height: 28px; font-size: 14px; margin-left: 10px;}

    .sub_page .list_paging ul li a {width: 24px; height: 24px; line-height: 22px; margin: 0 2px; font-size: 14px;}
    .sub_page .list_paging .prev_btn {width: 24px; height: 24px;}
    .sub_page .list_paging .next_btn {width: 24px; height: 24px;}
    .sub_page .list_paging a img {display: block;}

    .sub_page .program .program_inner {flex-direction: column;}
    .sub_page .program .left_program {width: 100%;}
    .sub_page .program .right_program {width: 100%;}

    .sub_page .program dl dt {font-size: 18px; float: none; text-align: left; margin-left: 0; margin-bottom: 5px;}
    .sub_page .program dl dd {font-size: 13px; margin-left: 4px;}


    .sub_page .news .news_list {display: none;}
    .sub_page .news .news_list_m {display: block;}


    .sub_page .green_box {width: 100%; padding: 20px 15px;}
    .sub_page .green_box .right_img {display: none;}
    .sub_page .green_box .sangdam_list {font-size: 14px;}

    .sub_page .counseling>h3 {text-align: center; font-size: 16px; color: #000;}
    .sub_page .counseling>h3 strong {display: block; font-size: 18px;}
    .sub_page .counseling>h3>span {display: block; margin: 5px 0px 5px;}
    .sub_page .counseling>h3>span img {width: 180px;}
}
@media screen and (max-width: 989px) {
    #container .news_wrap .right_news .news_slide .slick-prev {display: none; width: 0; height: 0; opacity: 0;}
    #container .news_wrap .right_news .news_slide .slick-next {display: none;}
}
@media screen and (max-width: 767px) {
    #container .faq .section_inner>ul>li>div {height: 185px;}
    .sub_page .activity_list li {margin-bottom: 0;}
}